In [1]:
import numpy as np
import pandas as pd
ALIGMENT = 50
def tHeader(num : int):
    print(f"TASK {num}".center(ALIGMENT,'-'))

In [2]:
tHeader(1)

data = np.random.random(size=(10,5))
column_names = [chr(x) for x in range(ord('a'), ord('a')+data.shape[1])]
averages = [np.mean(x, where=[m > 0.3 for m in x]) for x in data]
data = np.column_stack((data, averages))
df = pd.DataFrame(data, columns=column_names + ['averages'])
df

----------------------TASK 1----------------------

          a         b         c         d         e  averages
0  0.313763  0.904432  0.020780  0.455265  0.763419  0.609220
1  0.931295  0.503421  0.365648  0.329850  0.720271  0.570097
2  0.746519  0.262985  0.531737  0.303780  0.245741  0.527346
3  0.125136  0.933739  0.221833  0.937435  0.299894  0.935587
4  0.849101  0.980125  0.819378  0.435510  0.238019  0.771029
5  0.595674  0.454199  0.700415  0.675123  0.524655  0.590013
6  0.392931  0.970481  0.222606  0.794469  0.874916  0.758199
7  0.684181  0.525042  0.765522  0.606231  0.007398  0.645244
8  0.289486  0.324720  0.632719  0.817614  0.426272  0.550331
9  0.408476  0.416787  0.963929  0.923869  0.212471  0.678265

In [3]:
tHeader(2)
from dateutil.relativedelta import relativedelta

def months_diff(df):
    startProd, endProd = pd.to_datetime(df[['FirstProductionDate', 'CompletionDate']])
    df['FullMonthsFromStartToEnd'] = relativedelta(endProd, startProd).months
    return df

df = pd.read_csv('wells_info.csv')
df.insert(5, 'FullMonthsFromStartToEnd', '')
df.apply(months_diff, axis=1)

----------------------TASK 2----------------------

,API,PermitDate,SpudDate,CompletionDate,FirstProductionDate,FullMonthsFromStartToEnd,operatorNameIHS,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,BottomHoleLatitude,BottomHoleLongitude,LATERAL_LENGTH_BLEND,PROP_PER_FOOT,WATER_PER_FOOT
0,5005072170100,2014-05-06,2014-05-06,2014-12-02,2014-11-01 00:00:00.000,1,BURLINGTON RESOURCES O&G CO LP,NIOBRARA,DENVER BASIN,COLORADO,ARAPAHOE,39.684606,-104.642128,39.68445,-104.60557,9005.0,994.6866,591.800400
1,5123377130000,2013-07-21,2013-10-06,2014-02-26,2014-02-01 00:00:00.000,0,SRC ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.509320,-104.780980,40.49692,-104.77859,4195.0,991.5857,628.632100
2,5123379280000,2013-09-08,2013-09-25,2014-09-07,2013-11-01 00:00:00.000,10,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.335390,-104.363000,40.34780,-104.36863,4273.0,1000.2760,564.484100
3,5123379400000,2013-09-11,2014-12-05,2015-03-31,2015-03-01 00:00:00.000,0,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.152220,-104.530780,40.17445,-104.52932,7078.0,973.4437,824.002000
4,5123385820100,2014-01-07,2014-01-13,2014-04-23,2014-04-01 00:00:00.000,0,GREAT WESTERN OPERATING COMPANY LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.508303,-104.868180,40.49558,-104.86757,3211.0,783.5919,603.141400
5,5123390320000,2014-02-27,2014-06-20,2014-10-30,2014-10-01 00:00:00.000,0,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.520989,-104.450861,40.52100,-104.46772,4259.0,1011.0440,698.681900
6,5123390440000,2014-02-28,2014-04-26,2014-08-16,2014-08-01 00:00:00.000,0,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.118872,-104.789372,40.13079,-104.78716,4518.0,469.8262,798.167600
7,5123392690000,2014-04-14,2015-03-20,2015-08-03,2015-07-01 00:00:00.000,1,CRESTONE PEAK RESOURCES OPERATING LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.147015,-104.898342,40.16105,-104.89340,4975.0,1267.8870,835.992800
8,5123399750000,2014-08-09,2014-11-14,2015-04-16,2015-04-01 00:00:00.000,0,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.263373,-104.727955,40.27426,-104.73307,4786.0,805.9642,1133.333000
9,5123402600000,2014-09-22,2015-06-16,2015-09-13,2015-09-01 00:00:00.000,0,EXTRACTION OIL & GAS LLC,CODELL,DENVER BASIN,COLORADO,WELD,40.353967,-104.944679,40.35440,-104.96173,4195.0,926.5010,403.322300
10,5123409020000,2014-12-23,2015-02-07,2015-09-07,2015-09-01 00:00:00.000,0,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-104.468261,40.48424,-104.45072,4240.0,697.0967,983.059900
11,5123410480000,2015-01-21,2015-03-16,2015-04-23,2015-04-01 00:00:00.000,0,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.433139,-104.298585,40.43460,-104.28176,4294.0,896.9146,604.394700
12,30015414470000,2013-06-07,2013-10-06,2014-01-07,2013-12-01 00:00:00.000,1,OXY USA INC,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,32.312443,-104.030511,32.31051,-104.01594,3790.0,648.1232,477.618100
13,30025425390000,2015-04-30,2015-06-17,2015-10-10,2015-08-01 00:00:00.000,2,EOG RESOURCES INCORPORATED,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,32.080410,-103.530040,32.09347,-103.52959,4583.0,1657.9800,1625.025000
14,33023010960000,2013-08-22,2014-01-19,2014-04-07,2014-03-01 00:00:00.000,1,PETRO-HUNT LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,DIVIDE,48.893759,-103.647074,48.86601,-103.64545,10055.0,247.5587,193.152500
15,33025026780000,2014-09-30,2015-05-04,2015-09-23,2015-08-01 00:00:00.000,1,CONTINENTAL RESOURCES INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,DUNN,47.457199,-102.876301,47.48709,-102.87709,10225.0,326.3353,763.942100
16,33053048870100,2013-03-21,2014-08-06,2014-11-05,2014-11-01 00:00:00.000,0,OASIS PETROLEUM NORTH AMERICA LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.995019,-103.561306,47.99470,-103.52035,9400.0,984.4741,559.110700
17,33053051530000,2013-07-29,2013-09-03,2014-04-27,2014-04-01 00:00:00.000,0,BURLINGTON RESOURCES O&G CO LP,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.992928,-103.020490,48.02321,-103.01697,10415.0,341.2530,233.851900
18,33053056390200,2014-01-23,2014-12-18,2015-01-17,2015-01-01 00:00:00.000,0,NEWFIELD PRODUCTION COMPANY,THREE FORKS / BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,48.067984,-103.032125,48.08104,-103.03132,1513.0,455.8970,367.239100
19,33053056550000,2014-01-28,2014-03-14,2014-06-25,2014-06-01 00:00:00.000,0,NINE POINT ENERGY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.791114,-103.545864,47.81872,-103.54224,9613.0,392.4996,400.888700
20,33053059400000,2014-05-15,2014-11-13,2015-04-03,2015-03-01 00:00:00.000,1,XTO ENERGY INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.746094,-103.098475,47.71838,-103.09252,10021.0,375.7643,361.355000
21,33053061530000,2014-08-05,2015-01-27,2015-06-28,2015-06-01 00:00:00.000,0,BURLINGTON RESOURCES O&G CO LP,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.846022,-102.967045,47.81920,-102.96232,9291.0,440.1811,279.032700
22,33053061600000,2014-08-05,2014-09-25,2015-01-13,2014-12-01 00:00:00.000,1,HESS BAKKEN INVESTMENTS II LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.675447,-103.316278,47.70267,-103.31067,10052.0,148.4382,119.386300
23,33053061970000,2014-08-15,2015-02-25,2015-08-10,2015-08-01 00:00:00.000,0,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.920949,-102.856899,47.92118,-102.81310,9841.0,354.8798,240.360000
24,33053062710000,2014-09-15,2014-11-02,2015-04-05,2015-03-01 00:00:00.000,1,WHITING OIL & GAS CORPORATION,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.847589,-103.975208,47.82010,-103.98625,10951.0,286.4915,236.736400
25,33053067490000,2015-02-23,2015-07-09,2015-10-10,2015-10-01 00:00:00.000,0,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,48.022461,-103.109486,47.99290,-103.10193,11238.0,401.0879,174.951200
26,33061032390000,2014-08-05,2014-10-14,2015-02-16,2015-02-01 00:00:00.000,0,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,48.109905,-102.565508,48.09766,-102.54984,5102.0,307.2087,474.892600
27,33061033560000,2014-10-16,2015-02-06,2015-07-24,2015-07-01 00:00:00.000,0,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,48.140773,-102.694397,48.11112,-102.69618,9872.0,206.0430,161.287500
28,33105031270000,2013-07-16,2013-09-19,2014-02-10,2014-02-01 00:00:00.000,0,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.167886,-103.193273,48.14049,-103.18976,9211.0,366.1146,3.051352
29,33105032030000,2013-09-09,2013-10-24,2014-04-26,2014-04-01 00:00:00.000,0,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.230954,-103.189569,48.19827,-103.19005,11492.0,359.6471,301.821500
30,33105034810000,2014-03-24,2014-06-06,2015-01-15,2014-12-01 00:00:00.000,1,XTO ENERGY INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.516578,-102.938572,48.49633,-102.93151,7143.0,346.7994,394.368900
31,33105035380000,2014-05-23,2014-06-11,2014-12-29,2014-12-01 00:00:00.000,0,LIBERTY RESOURCES MANAGEMENT COMPANY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.503628,-102.977092,48.53119,-102.97815,9947.0,422.7651,815.382500
32,33105035810000,2014-06-19,2014-09-01,2015-05-13,2015-03-01 00:00:00.000,2,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.603374,-103.032381,48.57598,-103.03142,9521.0,333.2274,256.376800
33,33105036550100,2014-08-04,2014-10-27,2015-02-26,2015-02-01 00:00:00.000,0,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.112097,-103.294476,48.13924,-103.29261,4542.0,330.9360,231.485800
34,33105037690100,2014-09-22,2014-12-23,2015-05-08,2015-03-01 00:00:00.000,2,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.225953,-103.318167,48.19845,-103.31350,9477.0,610.1913,517.700600
35,35017246780000,2014-03-19,2014-03-21,2014-05-19,2014-06-01 00:00:00.000,0,MARATHON OIL COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,35.550467,-97.837858,35.53706,-97.83706,4596.0,1294.5750,1924.085000
36,35017246960000,2014-09-03,2014-09-28,2014-12-10,2014-12-01 00:00:00.000,0,CIMAREX ENERGY COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,35.383976,-97.991358,35.40532,-97.99148,7440.0,2053.6050,1768.781000
37,35073250300000,2014-11-26,2015-02-14,2015-08-25,2015-08-01 00:00:00.000,0,CHAPARRAL ENERGY LIMITED LIABILITY CORP,OSWEGO,ANADARKO BASIN,OKLAHOMA,KINGFISHER,36.044720,-97.893227,36.03002,-97.89306,4530.0,108.3326,382.215800
38,42105419830000,2014-02-27,2014-03-03,2014-06-04,2014-06-01 00:00:00.000,0,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.932566,-101.224790,30.91022,-101.22338,7330.0,1201.4860,1170.349000
39,42105420060100,2014-04-10,2014-06-07,2014-08-04,2014-08-01 00:00:00.000,0,EP ENERGY E&P COMPANY LP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,31.036220,-101.298203,31.05840,-101.29816,7727.0,1322.0210,928.173800
40,42105421020000,2014-08-16,2014-08-23,2014-12-22,2014-12-01 00:00:00.000,0,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.931085,-101.275646,30.91015,-101.27472,6853.0,1247.4980,1382.348000
41,42105421500000,2014-10-07,2014-11-23,2015-03-29,2015-03-01 00:00:00.000,0,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.891880,-101.239248,30.91010,-101.23926,5946.0,1182.1640,1441.936000
42,42301318440000,2012-09-13,2012-11-15,2014-01-27,2013-04-01 00:00:00.000,9,SHELL WESTERN E & P INCORPORATED LP,BONE SPRING,PERMIAN BASIN,TEXAS,LOVING,31.955840,-103.740776,31.94281,-103.74097,3656.0,488.5271,354.653600
43,42317401950000,2015-05-18,2015-06-23,2015-10-06,2015-10-01 00:00:00.000,0,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,MARTIN,32.175802,-102.062501,32.19690,-102.06904,7290.0,1157.6290,1560.677000
44,42371392130100,2014-06-27,2014-08-13,2014-12-01,2014-11-01 00:00:00.000,1,DIAMONDBACK EXPLORATION & PROD LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,PECOS,31.103318,-103.107997,31.10177,-103.13352,7664.0,1785.7310,3272.875000
45,42383381710000,2013-01-09,2013-10-23,2014-03-07,2014-02-01 00:00:00.000,1,SABLE PERMIAN RESOURCES LAND LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,REAGAN,31.287603,-101.589564,31.25907,-101.58952,9619.0,1659.3060,1489.541000
46,42389339940000,2013-11-04,2014-02-03,2014-07-16,2014-06-01 00:00:00.000,1,EOG RESOURCES INCORPORATED,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,31.613055,-103.943273,31.59780,-103.94402,4808.0,1535.0170,1263.295000
47,42389345710000,2014-10-06,2014-11-30,2015-03-31,2015-03-01 00:00:00.000,0,BHP BILLITON PETROLEUM(TXLA OP) COMPANY,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,31.767678,-103.855621,31.78125,-103.85369,4738.0,1319.8350,1201.862000
48,42461395750000,2014-09-17,2014-11-07,2015-06-07,2015-06-01 00:00:00.000,0,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,UPTON,31.268789,-101.789362,31.24249,-101.78967,9091.0,983.5690,1691.322000
49,49021210550000,2013-11-13,2014-01-10,2014-05-19,2014-03-01 00:00:00.000,2,SAMSON EXPLORATION LLC,CODELL,DENVER BASIN,WYOMING,LARAMIE,41.289530,-104.662340,41.27109,-104.66166,6030.0,1106.8640,652.499000

In [4]:
tHeader(3)

from statistics import mode
df = pd.read_csv('wells_info_na.csv')

def remove_nans(column):
    if column.dtype == np.float64:
        swap_val = np.nanmedian(column)
    else:
        no_nan = list(filter(lambda x: x==x, column))
        swap_val = mode(no_nan)
    return column.fillna(swap_val)

df.apply(remove_nans)

----------------------TASK 3----------------------

,API,CompletionDate,FirstProductionDate,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,PROP_PER_FOOT
0,5123402600000,2015-09-13,2015-09-01 00:00:00.000,CODELL,DENVER BASIN,COLORADO,WELD,40.353967,-104.944679,926.5010
1,5123409020000,2015-09-07,2015-09-01 00:00:00.000,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-104.468261,697.0967
2,5123410480000,2015-09-13,2015-04-01 00:00:00.000,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-103.561306,896.9146
3,30015414470000,2014-01-07,2013-12-01 00:00:00.000,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,40.482361,-103.561306,648.1232
4,30025425390000,2015-10-10,2015-08-01 00:00:00.000,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,32.080410,-103.530040,1657.9800
5,33053048870100,2014-11-05,2014-11-01 00:00:00.000,BAKKEN,DENVER BASIN,NORTH DAKOTA,MCKENZIE,47.995019,-103.561306,984.4741
6,33053051530000,2014-04-27,2014-04-01 00:00:00.000,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.992928,-103.020490,341.2530

In [5]:
tHeader(4)

def sum_by12(df):
    total_liq = sum(df[:12]["Liquid"])
    total_gas = sum(df[:12]["Gas"])
    out = pd.Series(data=[total_liq,total_gas], index=['Liquid By 12 months', 'Gas By 12 months'], dtype=object)
    return out

wells_info = pd.read_csv("wells_info.csv")
prod_info  = pd.read_csv("production.csv")

total_prod_by_api = prod_info[["API", "Liquid", "Gas"]].groupby("API").sum()
m12_prod_by_api   = prod_info[["API", "Liquid", "Gas"]].groupby("API").apply(sum_by12)
pd.merge(wells_info, pd.merge(total_prod_by_api, m12_prod_by_api, on='API'), on='API')

----------------------TASK 4----------------------

,API,PermitDate,SpudDate,CompletionDate,FirstProductionDate,operatorNameIHS,formation,BasinName,StateName,CountyName,...,LonWGS84,BottomHoleLatitude,BottomHoleLongitude,LATERAL_LENGTH_BLEND,PROP_PER_FOOT,WATER_PER_FOOT,Liquid,Gas,Liquid By 12 months,Gas By 12 months
0,5005072170100,2014-05-06,2014-05-06,2014-12-02,2014-11-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,NIOBRARA,DENVER BASIN,COLORADO,ARAPAHOE,...,-104.642128,39.68445,-104.60557,9005.0,994.6866,591.800400,201325,401879,139501,230391
1,5123377130000,2013-07-21,2013-10-06,2014-02-26,2014-02-01 00:00:00.000,SRC ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.780980,40.49692,-104.77859,4195.0,991.5857,628.632100,34625,135121,25118,80088
2,5123379280000,2013-09-08,2013-09-25,2014-09-07,2013-11-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.363000,40.34780,-104.36863,4273.0,1000.2760,564.484100,69009,157315,49692,92176
3,5123379400000,2013-09-11,2014-12-05,2015-03-31,2015-03-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.530780,40.17445,-104.52932,7078.0,973.4437,824.002000,81048,364852,63292,238382
4,5123385820100,2014-01-07,2014-01-13,2014-04-23,2014-04-01 00:00:00.000,GREAT WESTERN OPERATING COMPANY LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.868180,40.49558,-104.86757,3211.0,783.5919,603.141400,18050,79732,15569,53793
5,5123390320000,2014-02-27,2014-06-20,2014-10-30,2014-10-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.450861,40.52100,-104.46772,4259.0,1011.0440,698.681900,38365,141783,27186,83413
6,5123390440000,2014-02-28,2014-04-26,2014-08-16,2014-08-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.789372,40.13079,-104.78716,4518.0,469.8262,798.167600,108032,514677,80136,263927
7,5123392690000,2014-04-14,2015-03-20,2015-08-03,2015-07-01 00:00:00.000,CRESTONE PEAK RESOURCES OPERATING LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.898342,40.16105,-104.89340,4975.0,1267.8870,835.992800,77472,339078,51224,152167
8,5123399750000,2014-08-09,2014-11-14,2015-04-16,2015-04-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.727955,40.27426,-104.73307,4786.0,805.9642,1133.333000,39758,866522,24843,436231
9,5123402600000,2014-09-22,2015-06-16,2015-09-13,2015-09-01 00:00:00.000,EXTRACTION OIL & GAS LLC,CODELL,DENVER BASIN,COLORADO,WELD,...,-104.944679,40.35440,-104.96173,4195.0,926.5010,403.322300,91774,468794,57227,220501
10,5123409020000,2014-12-23,2015-02-07,2015-09-07,2015-09-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.468261,40.48424,-104.45072,4240.0,697.0967,983.059900,48796,320134,37227,191695
11,5123410480000,2015-01-21,2015-03-16,2015-04-23,2015-04-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,-104.298585,40.43460,-104.28176,4294.0,896.9146,604.394700,40916,105928,32299,67488
12,30015414470000,2013-06-07,2013-10-06,2014-01-07,2013-12-01 00:00:00.000,OXY USA INC,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,...,-104.030511,32.31051,-104.01594,3790.0,648.1232,477.618100,70044,79161,47786,42930
13,30025425390000,2015-04-30,2015-06-17,2015-10-10,2015-08-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,...,-103.530040,32.09347,-103.52959,4583.0,1657.9800,1625.025000,281523,412154,188274,280450
14,33023010960000,2013-08-22,2014-01-19,2014-04-07,2014-03-01 00:00:00.000,PETRO-HUNT LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,DIVIDE,...,-103.647074,48.86601,-103.64545,10055.0,247.5587,193.152500,114677,74427,76658,49512
15,33025026780000,2014-09-30,2015-05-04,2015-09-23,2015-08-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,DUNN,...,-102.876301,47.48709,-102.87709,10225.0,326.3353,763.942100,246346,254300,172671,172940
16,33053048870100,2013-03-21,2014-08-06,2014-11-05,2014-11-01 00:00:00.000,OASIS PETROLEUM NORTH AMERICA LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.561306,47.99470,-103.52035,9400.0,984.4741,559.110700,192598,225804,151898,154893
17,33053051530000,2013-07-29,2013-09-03,2014-04-27,2014-04-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.020490,48.02321,-103.01697,10415.0,341.2530,233.851900,209884,743704,144432,363069
18,33053056390200,2014-01-23,2014-12-18,2015-01-17,2015-01-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,THREE FORKS / BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.032125,48.08104,-103.03132,1513.0,455.8970,367.239100,96426,272782,73737,188493
19,33053056550000,2014-01-28,2014-03-14,2014-06-25,2014-06-01 00:00:00.000,NINE POINT ENERGY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.545864,47.81872,-103.54224,9613.0,392.4996,400.888700,131333,151870,93250,104730
20,33053059400000,2014-05-15,2014-11-13,2015-04-03,2015-03-01 00:00:00.000,XTO ENERGY INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.098475,47.71838,-103.09252,10021.0,375.7643,361.355000,118509,228887,73474,131614
21,33053061530000,2014-08-05,2015-01-27,2015-06-28,2015-06-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-102.967045,47.81920,-102.96232,9291.0,440.1811,279.032700,177349,281283,118408,165243
22,33053061600000,2014-08-05,2014-09-25,2015-01-13,2014-12-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.316278,47.70267,-103.31067,10052.0,148.4382,119.386300,67576,128775,46865,83557
23,33053061970000,2014-08-15,2015-02-25,2015-08-10,2015-08-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-102.856899,47.92118,-102.81310,9841.0,354.8798,240.360000,143473,286696,113232,201338
24,33053062710000,2014-09-15,2014-11-02,2015-04-05,2015-03-01 00:00:00.000,WHITING OIL & GAS CORPORATION,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.975208,47.82010,-103.98625,10951.0,286.4915,236.736400,76054,75149,54947,48121
25,33053067490000,2015-02-23,2015-07-09,2015-10-10,2015-10-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,-103.109486,47.99290,-103.10193,11238.0,401.0879,174.951200,305750,1283533,206429,695437
26,33061032390000,2014-08-05,2014-10-14,2015-02-16,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,...,-102.565508,48.09766,-102.54984,5102.0,307.2087,474.892600,69553,75147,49641,51262
27,33061033560000,2014-10-16,2015-02-06,2015-07-24,2015-07-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,...,-102.694397,48.11112,-102.69618,9872.0,206.0430,161.287500,150776,183883,108911,130610
28,33105031270000,2013-07-16,2013-09-19,2014-02-10,2014-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-103.193273,48.14049,-103.18976,9211.0,366.1146,3.051352,63100,183253,45745,122787
29,33105032030000,2013-09-09,2013-10-24,2014-04-26,2014-04-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-103.189569,48.19827,-103.19005,11492.0,359.6471,301.821500,114125,226171,75568,146695
30,33105034810000,2014-03-24,2014-06-06,2015-01-15,2014-12-01 00:00:00.000,XTO ENERGY INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-102.938572,48.49633,-102.93151,7143.0,346.7994,394.368900,65310,75704,35012,36039
31,33105035380000,2014-05-23,2014-06-11,2014-12-29,2014-12-01 00:00:00.000,LIBERTY RESOURCES MANAGEMENT COMPANY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-102.977092,48.53119,-102.97815,9947.0,422.7651,815.382500,200140,362631,150816,179647
32,33105035810000,2014-06-19,2014-09-01,2015-05-13,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-103.032381,48.57598,-103.03142,9521.0,333.2274,256.376800,80612,195434,61266,118850
33,33105036550100,2014-08-04,2014-10-27,2015-02-26,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-103.294476,48.13924,-103.29261,4542.0,330.9360,231.485800,107681,264406,81752,178656
34,33105037690100,2014-09-22,2014-12-23,2015-05-08,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,-103.318167,48.19845,-103.31350,9477.0,610.1913,517.700600,179799,410107,117135,212439
35,35017246780000,2014-03-19,2014-03-21,2014-05-19,2014-06-01 00:00:00.000,MARATHON OIL COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,...,-97.837858,35.53706,-97.83706,4596.0,1294.5750,1924.085000,32732,405122,22357,241520
36,35017246960000,2014-09-03,2014-09-28,2014-12-10,2014-12-01 00:00:00.000,CIMAREX ENERGY COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,...,-97.991358,35.40532,-97.99148,7440.0,2053.6050,1768.781000,159987,1131290,97471,631949
37,35073250300000,2014-11-26,2015-02-14,2015-08-25,2015-08-01 00:00:00.000,CHAPARRAL ENERGY LIMITED LIABILITY CORP,OSWEGO,ANADARKO BASIN,OKLAHOMA,KINGFISHER,...,-97.893227,36.03002,-97.89306,4530.0,108.3326,382.215800,91761,92826,62084,44351
38,42105419830000,2014-02-27,2014-03-03,2014-06-04,2014-06-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,-101.224790,30.91022,-101.22338,7330.0,1201.4860,1170.349000,30474,297079,23091,168273
39,42105420060100,2014-04-10,2014-06-07,2014-08-04,2014-08-01 00:00:00.000,EP ENERGY E&P COMPANY LP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,-101.298203,31.05840,-101.29816,7727.0,1322.0210,928.173800,68082,346158,58418,222318
40,42105421020000,2014-08-16,2014-08-23,2014-12-22,2014-12-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,-101.275646,30.91015,-101.27472,6853.0,1247.4980,1382.348000,46242,808150,35103,648217
41,42105421500000,2014-10-07,2014-11-23,2015-03-29,2015-03-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,-101.239248,30.91010,-101.23926,5946.0,1182.1640,1441.936000,47727,350877,38471,203677
42,42301318440000,2012-09-13,2012-11-15,2014-01-27,2013-04-01 00:00:00.000,SHELL WESTERN E & P INCORPORATED LP,BONE SPRING,PERMIAN BASIN,TEXAS,LOVING,...,-103.740776,31.94281,-103.74097,3656.0,488.5271,354.653600,37897,369912,32844,327003
43,42317401950000,2015-05-18,2015-06-23,2015-10-06,2015-10-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,MARTIN,...,-102.062501,32.19690,-102.06904,7290.0,1157.6290,1560.677000,87498,126158,64757,90993
44,42371392130100,2014-06-27,2014-08-13,2014-12-01,2014-11-01 00:00:00.000,DIAMONDBACK EXPLORATION & PROD LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,PECOS,...,-103.107997,31.10177,-103.13352,7664.0,1785.7310,3272.875000,159724,128653,94889,73054
45,42383381710000,2013-01-09,2013-10-23,2014-03-07,2014-02-01 00:00:00.000,SABLE PERMIAN RESOURCES LAND LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,REAGAN,...,-101.589564,31.25907,-101.58952,9619.0,1659.3060,1489.541000,102284,168435,68214,76632
46,42389339940000,2013-11-04,2014-02-03,2014-07-16,2014-06-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,...,-103.943273,31.59780,-103.94402,4808.0,1535.0170,1263.295000,155902,915366,103630,581350
47,42389345710000,2014-10-06,2014-11-30,2015-03-31,2015-03-01 00:00:00.000,BHP BILLITON PETROLEUM(TXLA OP) COMPANY,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,...,-103.855621,31.78125,-103.85369,4738.0,1319.8350,1201.862000,165113,881109,115469,571265
48,42461395750000,2014-09-17,2014-11-07,2015-06-07,2015-06-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,UPTON,...,-101.789362,31.24249,-101.78967,9091.0,983.5690,1691.322000,95097,406007,71749,253211
49,49021210550000,2013-11-13,2014-01-10,2014-05-19,2014-03-01 00:00:00.000,SAMSON EXPLORATION LLC,CODELL,DENVER BASIN,WYOMING,LARAMIE,...,-104.662340,41.27109,-104.66166,6030.0,1106.8640,652.499000,72608,41769,57131,31353